<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col"T>Tipo de identificación</th>
        <th scope="col">Identificación</th>
        <th scope="col">Primer nombre</th>
        <th scope="col">Segundo nombre</th>
        <th scope="col">Primer apellido</th>
        <th scope="col">Segundo apellido</th>
        <th scope="col">Roles</th>
    <tr>
    <tbody>
        <%= render @people %>
    </tbody>
</table>